<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Reasons</h4>

    <button type="button" class="close pull-right" aria-label="Confirm" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="addForm" (ngSubmit)="reasonSave()">

      <h5><span class="badge badge-warning">Reason 1</span></h5>
      <div class="form-group row">

        <ng-select2 style="width:100%; margin: 10px;" [data]="reason1s" [options]="optionsSelect2"
          formControlName="reason_1" [placeholder]="'Reason 1'" [(ngModel)]="reason_1"
          (ngModelChange)="changeReason($event)">
        </ng-select2>
      </div>
      <h5><span class="badge badge-warning">Reason 2</span></h5>
      <div class="form-group row">

        <ng-select2 style="width:100%; margin: 10px;" [data]="reason2s" [options]="optionsSelect2"
          [(ngModel)]="reason_2" formControlName="reason_2" [placeholder]="'Reason 2'">
        </ng-select2>
      </div>
      <h5><span class="badge badge-warning">Reason note</span></h5>
      <div class="form-group row">
        <textarea style="width:100%; margin: 10px;" class="md-textarea form-control" formControlName="reason_note"
        [(ngModel)]="reason_note"  rows="3" id="input_text" type="text" length="120" mdbCharCounter mdbInput></textarea>

      </div>
      <button type="button" (click)="reasonSave()" class="btn btn-primary" style="margin: 5px;">
        Save
      </button>
    </form>
  </div>
</ng-template>
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="form-group col">
        <h5><span class="badge badge-warning">Factory</span></h5>
        <ng-select2 [data]="factories" [options]="optionsSelect2" [(ngModel)]="factory"
          (ngModelChange)="changeFactory($event)">
        </ng-select2>
      </div>
      <div class="form-group col" [hidden]="factory != 'SHW' && factory != 'SHD'">
        <h5><span class="badge badge-warning">Building</span></h5>
        <ng-select2 [data]="buildings" [(ngModel)]="building" [options]="optionsSelect2" [placeholder]="'Building'"
          (valueChanged)="changeBuilding($event)"></ng-select2>
      </div>
      <div class="form-group col" [hidden]="factory != 'SHW' && factory != 'SHD'">
        <h5><span class="badge badge-warning">Machine Type</span></h5>
        <ng-select2 [data]="machine_types" [(ngModel)]="machine_type" [options]="optionsSelect2" [placeholder]="'Machine Type'"
          (ngModelChange)="changeMachine_Type($event)"></ng-select2>
      </div>
      <div class="form-group col">
        <h5><span class="badge badge-warning">Machine</span></h5>
        <ng-select2 [data]="machines" [options]="optionsSelect2" [(ngModel)]="machine" [placeholder]="'Machine'"
          (ngModelChange)="changeMachine($event)">
        </ng-select2>
      </div>
      <div class="form-group col">
        <h5><span class="badge badge-warning">Shift</span></h5>
        <ng-select2 [data]="shifts" [options]="optionsSelect2" [(ngModel)]="shift" [placeholder]="'Shift'"
          (ngModelChange)="changeShift($event)"></ng-select2>
      </div>
      <div class="form-group col">
        <h5><span class="badge badge-warning">Date</span></h5>
        <input class="form-control" type="text" name="dateTime" a2e-datetimepicker [options]="optionDatetimes"
          placeholder="Date" (blur)="updateDate($event)" />
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="chart-reasons" [ngClass]="{'show': isShow, 'hidden': !isShow}">
      <h5><span class="badge badge-warning">{{machineName}}</span></h5>
        <div #trendChart (window:resize)="onResize($event)"  ></div>
    </div>
    <!-- <div [ngClass]="{'show': !isShow ,'hidden': isShow}" class="alert alert-warning text-uppercase font-weight-bold text-center m-0" role="alert">
      No data found !
    </div> -->
    <div class="detail-reasons">
      <table class="table table-bordered mt-5">
        <thead>
          <tr class="text-center">
            <th scope="col">Machine ID</th>
            <th scope="col">Building</th>
            <th scope="col">Factory</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Status</th>
            <th scope="col">Duration</th>
            <th scope="col">Marked</th>
            <th scope="col">Downtime Reason</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataActionTime">
            <td>{{item.machine_id}}</td>
            <td>{{item.building_id}}</td>
            <td>{{item.factory_id}}</td>
            <td>{{item.start_time | date: 'dd/MM/yyyy H:mm'}}</td>
            <td>{{item.end_time | date: 'dd/MM/yyyy H:mm'}}</td>
            <td>{{item.title}}</td>
            <td>{{item.diffTime}}</td>
            <td><i *ngIf="item.isEdit" class="fa fa-check"></i></td>
            <td>
              <button type="button" class="btn btn-primary" (click)="openModal(template, item)">Select</button>
            </td>
          </tr>
          <tr *ngIf="dataActionTime.length == 0">
            <td colspan="9">
              <div class="alert alert-warning text-uppercase font-weight-bold text-center m-0" role="alert">
                No data found !
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="row">
          <div class="col-xs-12 col-12">
            <pagination [totalItems]="pagination.totalCount" [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>

    </div>

  </div>