<div class="card">
  <div class="card-body frames-chart-dashboard">
    <div class="row group-chart">
      <div class="col-md-8 ">
        <div #chartGauge class="chartGauge"></div>
      </div>
      <div class="col-md-4 sevenSeg">
        <div class="sevSegContainer p-3">
          <h1 class="text-center label-chart-dashboard">
            <span class="badge badge-primary">{{ name }}</span>
          </h1>
          <div #sevenSeg class="sevSeg"></div>
        </div>
      </div>
    </div>
  </div>
</div>
